<div id="wrapper" class="darkTheme">
  <header id="header"></header>

  <main id="main"></main>

  <footer id="footer">
      <ul>
          <li>
              <a href="https://github.com/Theartbug" target="_blank" rel="noopener noreferrer">
                  <span class="fa fa-github fa-3x"></span>
                  <span class="clip">Github</span>
              </a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/graceprovost/" target="_blank" rel="noopener noreferrer">
                  <span class="fa fa-linkedin fa-3x"></span>
                  <span class="clip">LinkedIn</span>
              </a>
          </li>
          <li>
              <a href="mailto:grace.g.provost@gmail.com">
                  <span class="fa fa-envelope-square fa-3x"></span>
                  <span class="clip">Email</span>
              </a>
          </li>
      </ul>
    <small>&copy; 2018 Grace Provost | Student Work, history from loremipsum.de</small>
  </footer>
</div>