<h2>Resources</h2>

<ul class="grid-container">
  <li class="content-item">
    <h3><a href="http://www.loremipsum.de/index_e.html">The Oldest Lorem Ipsum Generator</a></h3>
    <p>A typical basic lorem ipsum generator</p>
  </li>
  <li class="content-item">
    <h3><a href="http://nwalsh.com/comp.fonts/FAQ/cf_36.htm">One of the First Online Descriptions</a></h3>
    <p>Norman Walsh provide one of the first online explanations of Lorem Ipsum in his FAQs about Fonts Version 2.1.5 (Aug 14, 1996)</p>
  </li>
  <li class="content-item">
    <h3><a href="https://loremipsumgenerator.com/">Another lorem Generator</a></h3>
    <p>A fancier version for generating lorem ipsum</p>
  </li>
  <li class="content-item">
    <h3><a href="http://www.cupcakeipsum.com/">Cupcake Ipsum Generator</a></h3>
    <p>Sugar-coated lorem ipsum generator</p>
  </li>
</ul>