@import '../variables.css';

.mainWrapper {
  max-width: 1200px;
  margin: 0 auto;
  div {
    margin: 1.5rem 0;
    p{
      margin: 1rem 0 0;
    }
    q {
      line-height: 1.7;
    }
  }
}

.column {
  display: flex;
  div {
    padding: 0 1.5rem 0 0;
  }
}

.q {
  max-width: 60%;
  padding: 0 0 0 2rem;
  border-left: 1rem solid $gray;
}

.top {
  margin: 4rem 0 1rem;
  font-size: 5rem;
}

.end {
  margin: 4rem 0;
  font-size: 5rem;
}

/* --------- Google Fonts -------- */
.trirong-work-sans {
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,400i,700|Trirong:700');
  h1, h2, h3, h4 {font-family: 'Trirong', serif;}
  p {font-family: 'Work Sans', sans-serif;}
}
.cormorant-garamond-proza-libre {
  @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Proza+Libre:400,400i,700');
  h1, h2, h3, h4 {font-family: 'Cormorant Garamond', serif;}
  p {font-family: 'Proza Libre', sans-serif;}
}
.libre-franklin-libre-baskerville {
  @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Libre+Franklin:700');
  h1, h2, h3, h4 {font-family: 'Libre Franklin', sans-serif;}
  p {font-family: 'Libre Baskerville', serif;}
}
.work-sans-taviraj {
  @import url('https://fonts.googleapis.com/css?family=Taviraj:400,400i,700|Work+Sans:700');
  h1, h2, h3, h4 {font-family: 'Work Sans', sans-serif;}
  p {font-family: 'Taviraj', serif;}
}
.eczar-gentium-basic {
  @import url('https://fonts.googleapis.com/css?family=Eczar:700|Gentium+Basic:400,400i,700');
  h1, h2, h3, h4 {font-family: 'Eczar', serif;}
  p {font-family: 'Gentium Basic', serif;}
}


/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .column {
    flex-direction: column;
  }

  .q {
    max-width: 90%;
  }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 800px) {
  .column {
    flex-direction: column;
  }
}