<div class="mainWrapper">
  <h1 class="top">Lorem Ipsum</h1>

  <div>
  <h2>History</h2>
    <small>Source from <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" alt="Link to Lorem Ipsum Wikipedia page" target="_blank" rel"author noopener noreferrer">Wikepedia</a></small>
    <p>"Lorem ipsum" text is derived from sections 1.10.33 of Cicero's De finibus bonorum et malorum.[1]</p>
    <p>It is not known exactly when the text obtained its current standard form; it may have been as late as the 1960s. Dr. Richard McClintock, a Latin scholar who was the publications director at Hampden–Sydney College in Virginia, discovered the source of the passage sometime before 1982 while searching for instances of the Latin word "consectetur" ("that [he/she/it] pursue", subjunctive), rarely used in classical literature.[2][a] The physical source of the lorem ipsum text may be the 1914 Loeb Classical Library Edition of the De Finibus, where the Latin text, presented on the left-hand (even) pages, breaks off on page 34 with "Neque porro quisquam est qui do-" and continues on page 36 with "lorem ipsum ...", suggesting that the galley type of that page was mixed up to make the dummy text seen today.[4]</p>
  </div>  

  <div class="column">

    <div>
      <h2>What is Lorem Ipsum?</h2>
      <small>Source from <a href="https://www.lipsum.com/" alt="Link to lipsum.com" target="_blank" rel"author noopener noreferrer">www.lipsum.com</a></small>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div>
      <h2>Why do we use it?</h2>
      <small>Source from <a href="https://www.lipsum.com/" alt="Link to lipsum.com" target="_blank" rel"author noopener noreferrer">www.lipsum.com</a></small>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    
  </div>

  <div>
  <h2>Sample Lorem Ipsum text</h2>
    <small>Source from <a href="https://www.lipsum.com/" alt="Link to lipsum.com" target="_blank" rel"author noopener noreferrer">www.lipsum.com</a></small>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper nisl ac orci euismod, vitae malesuada turpis euismod. Curabitur at velit vehicula, porttitor ligula ut, bibendum ex. Aliquam erat volutpat. Ut finibus mauris at nunc dictum rutrum ullamcorper sit amet est. Pellentesque tristique ornare urna. Nunc ligula ante, elementum id tempor in, tempus non libero. Donec mattis rutrum mi ut tincidunt. Duis fermentum lorem id velit euismod porttitor. Nulla a tellus id neque consectetur molestie. Vestibulum sit amet finibus est. Fusce feugiat ligula rutrum, imperdiet ante vitae, egestas lorem. Vestibulum tempus congue neque, nec auctor augue varius sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent tellus mi, aliquam eu quam et, posuere condimentum quam.</p>
    <div class="q">
      <q>Cras ut efficitur massa, sit amet consequat nunc. Vivamus ullamcorqer sem et elit qlacerat faucibus. Nam eget lacus ac ligula euismod sollicitudin sed sit amet dui. Pellentesque sed feugiat tellus. Nam condimentum urna scelerisque tincidunt rhoncus. Etiam semper nunc justo, in sollicitudin mauris malesuada non. Pellentesque accumsan nibh in ex tincidunt, iaculis consequat ipsum dignissim. Suspendisse nec magna vitae nisi consectetur tristique eget nec mi. Nulla condimentum urna vitae ligula lacinia condimentum sit amet quis erat. Fusce vestibulum rhoncus felis, vitae mattis enim. Ut vel lectus a lectus tristique tincidunt.</q>
    </div>
    <p>In eu ligula placerat, tristique augue et, sagittis ante. Sed turpis eros, consectetur quis risus laoreet, elementum fringilla nisi. Proin at erat vel dui efficitur vulputate. Fusce nibh nisi, interdum et tincidunt at, molestie at elit. Praesent vehicula at diam blandit convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque iaculis orci vel mauris elementum, a ultrices lectus aliquam. Quisque sed ex sed eros scelerisque convallis non eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque et dictum lacus, nec facilisis leo. Nullam vel ultricies augue. Ut auctor maximus tempus. Sed elementum eros non enim tincidunt vulputate. Sed ultrices, elit vel viverra cursus, ante metus lacinia mauris, et pharetra urna risus non libero. Nunc sodales molestie ante. In hac habitasse platea dictumst.</p>
  </div>

  <h1 class="end">~finn</h1>
</div>  