@import '../variables.css';

.mainWrapper {
  max-width: 1200px;
  margin: 0 auto;
  div {
    margin: 1.5rem 0;
    p{
      margin: 1rem 0 0;
    }
    q {
      line-height: 1.7;
    }
  }
}

.column {
  display: flex;
  div {
    padding: 0 1.5rem 0 0;
  }
}

.q {
  max-width: 60%;
  padding: 0 0 0 2rem;
  border-left: 1rem solid $gray;
}

.top {
  margin: 4rem 0 1rem;
  font-size: 5rem;
}

.end {
  margin: 4rem 0;
  font-size: 5rem;
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .column {
    flex-direction: column;
  }

  .q {
    max-width: 90%;
  }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 800px) {
  .column {
    flex-direction: column;
  }
}