<h2>History of Lorem Ipsum</h2>

<ul class="grid-container">
  <li class="content-item">
    <h3>What is Lorem ipsum?</h3>
    <p>A quick and simplified answer is that Lorem Ipsum refers to text that the DTP (Desktop Publishing) industry use as replacement text when the real text is not available.</p>
    <p>For example, when designing a brochure or book, a designer will insert Lorem ipsum text if the real text is not available. The Lorem ipsum text looks real enough that the brochure or book looks complete. The book or brochure can be shown to the client for approval.</p>
    <p>The important factor when using Lorem ipsum text is that the text looks realistic otherwise the brochure or book will not look very good. Lorem Ipsum is dummy text which has no meaning however looks very similar to real text.</p>
    <p>Common names for Lorem ipsum text include:</p>
    <ul>
      <li>blind text</li>
      <li>dummy text</li>
      <li>greeked text</li>
      <li>placeholder text</li>
      <li>mock content</li>
      <li>filler text</li>
    </ul>
  </li>
  <li class="content-item">
    <h3>Where did it come from?</h3>
    <p>In design magazine, Before and After Magazine, a journalist wrote in volume 4, number 2 the following:</p>
    <blockquote>
      <p>“After telling everyone that Lorem ipsum, the nonsensical text that comes with PageMaker, only looks like Latin but actually says nothing, I heard from Richard McClintock, publication director at the Hampden-Sydney College in Virginia, who had enlightening news:</p>
      <p>Lorem ipsum is latin, slightly jumbled, the remnants of a passage from Cicero's 'De finibus bonorum et malorum' 1.10.32, which begins 'Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...' [There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.]. [de Finibus Bonorum et Malorum, written in 45 BC, is a treatise on the theory of ethics very popular in the Renaisance.]</p>
      <p>What I find remarkable is that this text has been the industry's standard dummy text ever since some printed in the 1500s took a galley of type and scrambled it to make a type specimen book; it has survived not only four centuries of letter-by-letter resetting but even the leap into electronic typesetting, essentially unchanged except for an occasional 'ing' or 'y' thrown in. It's ironic that when the then-understood Latin was scrambled, it became as incomprehensible as Greek; the phrase 'it's Greek to me' and 'greeking' have common semantic roots!”</p>
    </blockquote>
    <p>Rick Pali submitted this article to alt.fonts faqs because it was stated there that no one knew where it came from.</p>
  </li>
  <li class="content-item">
    <h3>Every day blind text</h3>
    <p>There we go, the origins of Lorem ipsum trace back to ancient latin text from Cicero and have been already used for hundreds of years by book makers. To read "De Finibus et Malorum" by Cicero, and the translation in English (The Extremes of Good and Evil),<a href="http://www.loremipsum.de/de_finibus_et_bonorum_malorum_en.html">Click Here</a></p>
    <p>Many veteran designers remember Lorem Ipsum text being available from Letraset in various font types and sizes. In 'Old School' graphic design where designers would lay out their design with paper and pen (without computer), text was taken using the Letraset pads and inserted (rubbed) into place. Letraset is still in business though beaus there are a lot of model makers out there who rely on Letraset adhesive letters.</p>
    <p>Probably the transformation of Lorem Ipsum text into a digital format can be credited to Aldus with their DTP software Pagemaker (which later become part of the Adobe product family) which had Lorem Ipsum text included inside the software.</p>
  </li>
  <li class="content-item">
    <h3>Why do a lot of web pages contain Lorem ipsum?</h3>
    <p>Do a search for "Lorem ipsum" on the internet, is it a surprise that hundreds of thousands of results are returned. There are a few reasons for this, when you consider that most of the websites listed in the search results contain "lorem ipsum" for no specific purpose:</p>
    <ol>
      <li>Some html or web editors on the market allow users to create a web page and automatically inserts Lorem ipsum text as a place holder, the users leave this text in.</li>
      <li>Similar to reason 1, there is a word processing or dtp application on the market that allows the users to create websites and also contains default lorem ipsum filler text. (eg Aldus Pagemaker)</li>
      <li>Internet hosts provide default websites for their customers which contain Lorem Ipsum text.</li>
      <li>People use Lorem Ipsum text on their web sites and forget to delete the text or have their websites indexed by search engines before the blind text is removed.</li>
    </ol>
  </li>
</ul>