<div class="mainWrapper">
  <div class="rcolumn">
    
    <div>  
      <h2 class="r-top">Resources</h2>
      <p>There are so many usages of Lorem Ipsum out there and many different variations of it. Here are some additional resources you can find regarding Lorem Ipsum.</p>
    </div>

    <div>
      <h2 class="b-top">.</h2>
      <ul class="rlist">
        <li><span class="number">1. </span><a href="https://www.lipsum.com/" alt="Link to Lipsum" target="_blank" rel"author noopener noreferrer">Lipsum</a></li>
        <li><span class="number">2. </span><a href="https://loremipsumgenerator.com/" alt="Link to Lorem Ipsum Generator" target="_blank" rel"author noopener noreferrer">Lorem Ipsum Generator</a></li>
        <li><span class="number">3. </span><a href="http://spaceipsum.com/" alt="Link to Space Ipsum" target="_blank" rel"author noopener noreferrer">Space Ipsum</a></li>
        <li><span class="number">4. </span><a href="http://www.catipsum.com/" alt="Link to Cat Ipsum" target="_blank" rel"author noopener noreferrer">Cat Ipsum</a></li>
        <li><span class="number">5. </span><a href="https://deloreanipsum.com/" alt="Link to DeLorean Ipsum" target="_blank" rel"author noopener noreferrer">DeLorean Ipsum</a></li>
        <li><span class="number">6. </span><a href="http://heisenbergipsum.com/" alt="Link to Heisenberg Ipsum" target="_blank" rel"author noopener noreferrer">Heisenberg Ipsum</a></li>
        <li><span class="number">7. </span><a href="http://www.tacoipsum.com/" alt="Link to Taco Ipsum" target="_blank" rel"author noopener noreferrer">Taco Ipsum</a></li>
      </ul>
    </div>

  </div>
</div>