<div class="subWrapper">
    <form>
      <label for="font-pair-select" class="select">Font Pair:</label>
      <select id="font-pair-select" name="font-pair-select">
        <option value="trirong-rubik" selected>Trirong, Work Sans</option>
        <option value="signika-open-sans">Signika, Open Sans</option>
        <option value="playfair-display-rubik">Playfair Display, Rubik</option>
        <option value="oxygen-source-sans">Oxygen, Source Sans</option>
      </select>
    </form>
  </div>