@import '../variables.css';

.subWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.select {
  font-weight: 600;
}

form {
  select {
    font-size: 0.9rem;
    background-color: $white;
    border: 5px solid darkgray;
    height: 3rem;
    width: 17rem;
    border-radius: 0px;
  }
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 580px) {
  .subWrapper {
    flex-direction: column;
    text-align: center;
  }

  .select {
    margin: 0 0 2rem;
  }
}