<div class="subWrapper">
    <form>
      <label for="font-pair-select">Font Pair:</label>
      <select id="font-pair-select" name="font-pair-select">
        <option value="cormorant-garamond-proza-libre">Cormorant Garamond, Proza Libre</option>
        <option value="libre-franklin-libre-baskerville">Libre Franklin, Libre Baskerville</option>
        <option value="trirong-rubik">Trirong, Rubik</option>
        <option value="work-sans-taviraj">Work Sans, Taviraj</option>
        <option value="eczar-gentium-basic">Eczar, Gentium Basic</option>
      </select>
    </form>
  </div>